.Degree-card{
    color: #ffffff;
    background-color: #282c34;
    border: none;
}
.Completion-date{
    font-size: x-large;
}
.School{
    text-align: center;

}
.Degree-card{
    font-size:  medium;
}
.Department{

}
