.Footer-container{
    color: #ffffff;
    text-align: center;
    font-family: 'Droid Serif', Georgia, Times, serif;
    background-color: #282c34;
    color: white;
    padding-top: 50px;
    padding-bottom: 25px;
    border: white;
}
.Website-link {
    color: #61dafb;
    text-shadow: 1px 1px 1px #ccc;
}
.Developed-by{
    font-size: x-small;
}