.Header-container{
    font-family: 'Droid Serif', Georgia, Times, serif;
    background-color: #282c34;
    margin-top: 0px;
    padding-top: 0px;
}
.Brand{
    color: #61dafb;
    text-shadow: 1px 1px 1px #aaa;
}
.Nav-bar{
    color: white;
}
.Header-button{
    margin: 10px;
}