.Profile-div {
    text-align: center;
    font-family: 'Droid Serif', Georgia, Times, serif;
    background-color: #282c34;
    color: white;

}
.Profile-image {
    height: 9vmin;
    overflow: hidden;
    border-radius: 50%;
}
.Profile-name{
    color: #61dafb;
    text-shadow: 1px 1px 1px #aaa;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.Job-title{
    margin-top: 0px;
    padding-top: 0px;
}
