.Qualifications {
    font-size: large;
    background-color: #282c34;
    padding-left: 15vw;
}
.Qualification-bullet{
    background-color: #282c34;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: fill;
    text-align: left;
    color: #ffffff;
    display: list-item;
    font-size: large;
}
