.Qualifications {
    background-color: #282c34;
}
.Qualification-bullet{
    background-color: #282c34;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 250px;
    margin: fill;
    text-align: left;
    color: #ffffff;
    display: list-item;
    border: 50px;
    font-size: medium;
}