.Qualifications {
    color: #ffffff;
    background-color: #282c34;
}
.Qualification-bullet{
    color: #ffffff;
    background-color: #282c34;
    padding-left: 50px;
    margin-left: 200px;
    margin: fill;
    text-align: left;
    list-style: circle;
    color: #ffffff;
    display: list-item;
    border: 50px;
    font-size: medium;
}