.Resume-container {
    alignment: center;
    font-family: 'Droid Serif', Georgia, Times, serif;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: left;
}
.Section{
    padding-left: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.Section-header{
    text-align: left;
    color: #61dafb;
}
h3{
    text-shadow: 1px 1px 1px #ccc;
}