.Work-experience{
    color: white;
    margin: inherit;
    background-color: #282c34;

}
.Company-info{
    margin: 5rem;
    bg : white;

}
.Company-name{
    color: #61dafb;
    font-size: larger;
}
.Job-title{
    color: #61dafb;
    font-size: medium;
}
.Impact{
    text-align: left;
}