.Work-experience {
    color: #ffffff;
    background-color: #282c34;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}
.Job-data{
    alignment: left;
}
.Timeframe{
alignment: left;
}
.Experience-details{
    bg : white;
}
.Company-name{
    text-shadow: 1px 1px 1px #ccc;
    color: #61dafb;
    font-size: larger;
    border: none;
}

.Job-title{
    text-shadow: 1px 1px 1px #ccc;
    color: #61dafb;
    font-size: large;
    padding-top: 13px;
}
.Location{
    text-shadow: 1px 1px 1px #ccc;
    color: #61dafb;
    font-size: medium;
    padding-left: 20px;
}
.Impact{
    margin-left: 13rem;
    text-align: left;
    font-size: medium;
}


