.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Profile {
  height: 9vmin;
  overflow: hidden;
  border-radius: 50%;
}
.Profile-name{
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  border: 10px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Qualification-bullet{
  margin:10px;
  padding: 0px;
  text-align: left;
  list-style: square;
  color: #ffffff;
  display: list-item;
  border: 50px;
  font-size: large;
}
.Website-link {
  color: #61dafb;
}
.Footer{
  color: #ffffff;
}
.Developed-by{
  color: #ffffff;
  font-size: x-small;
}
.Section-header{
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

